.bg-custom {
  background-color: #909590; /* Cor de fundo personalizada */
  color: #2C302E;
  
}

.appconteiner .container-fluid{
  background-color: #909590; /* Cor de fundo personalizada */
  color: #2C302E;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

html, body {
  height: 100%;
  margin: 0;
}




