<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light bg-custom mb-3 ">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'./client-list'">CPainel</a>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="'./client-list'" (click)="isMenuCollapsed = true">Colaboradores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'./client-form'" (click)="isMenuCollapsed = true">Adicionar Colaboradores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet />
</div>
