<div class="container-fluid justify-content-center align-items-center w-50">
  <div class="row">
    <div class="col">
      <div class="custom-form-container border p-4 rounded bg-custom">
        <h2 class="form-heading">Gerenciamento de Colaboradores</h2>
        <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
          <div class="form-group mb-3">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="employee.nome" name="name" aria-describedby="nomeColaboradores" placeholder="Nome">
          </div>
          <div class="form-group mb-3">
            <label for="occupation">Ocupação</label>
            <input type="text" class="form-control" id="occupation" required [(ngModel)]="employee.cargo" name="occupation" placeholder="Cargo">
          </div>
          <button type="submit" class="btn btn-dark" [disabled]="!employeeForm.valid">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

