.bg-custom {
  background-color: #909590; /* Cor de fundo personalizada */
  color: #2C302E; /* Cor do texto para contraste */
}

.appconteiner{
  background-color: #909590; /* Cor de fundo personalizada */
  color: #2C302E;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

